# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app
*.zip
/Engine/x64
/Output
/Client/x64
/.vs
/Server/Server/x64
/Server/.vs
/Server/x64
/Dead_Zone/.vs
/Client/.vs
/Client/Dead_Zone/x64
/Client/Dead_Zone/x64/
/Client/Dead_Zone/x64/Release/Dead_Zone.tlog

